<section>
  <img src="assets/images/Frame 1.png" alt="" />
  <div class="right-container">
    <div class="going-back-box">
      <button routerLink="/individual">
        <i class="fa-solid fa-angle-left" routerLink="/complete"></i>Back
        Verification
      </button>
      <div>
        <p>STEP 03/03</p>
        <h6>Bank verification</h6>
      </div>
    </div>

    <form [formGroup]="bankVerification" (ngSubmit)="onFormSubmit()">
      <h1>Complete Your Profile!</h1>
      <p>For the purpose of industry regulation, your details are required.</p>
      <div>
        <label>Bank verification number (BVN)</label>
        <input
          type="text"
          placeholder="090912345567"
          formControlName="bankNumber"
        />
        <i class="fa-solid fa-circle-check"></i>
      </div>
      <button type="submit" class="register-btn">Save & Continue</button>
      <div class="secured-safety">
        <img src="/assets/images/lock_24px.svg" alt="" />
        <p>Your Info is safely secured</p>
      </div>
    </form>
  </div>
</section>
