<!-- <nav>
  <button type="button" (click)="toggleEditor('profile')">SIGN UP</button>
  <button type="button" (click)="toggleEditor('name')">lOG IN</button>
</nav>
<app-sign-up *ngIf="showProfileEditor"></app-sign-up>

<app-log-in *ngIf="showNameEditor"></app-log-in> -->

<!-- <app-log-in></app-log-in> -->
<!-- <app-registration></app-registration> -->
<!-- <ul>
  <li><a routerLink="/login">login</a></li>
  <li><a routerLink="/signup">register</a></li>
</ul> -->

<router-outlet> </router-outlet>
<!-- <app-verification></app-verification> -->
