<section>
  <div *ngIf="showLoginForm">
    <div class="log-in-container">
      <img src="assets/images/Login_image.png" alt="" />
      <div class="log-in-form-container">
        <img src="assets/images/Dummy_Logo.png" alt="" />
        <h1>Login into your account</h1>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <label for="emailAdress">Email Id : </label>
          <div class="email-box">
            <input
              id="emailAdress"
              type="email"
              formControlName="email"
              placeholder="info@provistechnologies.com"
            />
            <img src="assets/images/mail_icon.png" alt="" />
          </div>
          <div *ngIf="email?.invalid && email?.touched" class="errors">
            <p *ngIf="email?.errors?.['required']">Email is required</p>
            <p *ngIf="email?.errors?.['email']">Email doesnt match pattern</p>
          </div>
          <label for="passwords">Password : </label>
          <div class="email-box">
            <input
              id="passwords"
              type="password"
              formControlName="password"
              placeholder="Enter your password"
            />
            <div class="lock-icon">
              <img src="assets/images/Frame.png" alt="" />
            </div>
          </div>

          <div *ngIf="password?.invalid && password?.touched" class="errors">
            <p *ngIf="password?.errors?.['required']">Email is required</p>
            <p *ngIf="password?.errors?.['pattern']">
              Email doesnt match pattern
            </p>
          </div>
          <div class="forgot-passw">
            <a href="">Forgot password?</a>
            <button type="submit" [disabled]="!loginForm.valid">
              Login now
            </button>
          </div>
        </form>
        <p>OR</p>
        <button (click)="toggleSection()" class="sign-up-btn">
          Signup now
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="!showLoginForm">
    <!-- Show signup section if showLoginForm is false -->
    <app-sign-up></app-sign-up>
    <!-- Assuming you have a SignUpComponent -->
    <button (click)="toggleSection()" class="back-tp-login">
      Back to Login
    </button>
  </div>
</section>
